* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.NoClients {
  color: #49274a;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.Nav {
  background-color: #94618E;
}

.Nav .nav-margin {
  margin: 1em;
}

.Nav input {
  border-radius: 20px;
}

.OrderNCreate {
  margin: 10px 0px 0px 0px;
  height: 50px;
}

.OrderNCreate .orderBy {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.OrderNCreate .orderBy h3 {
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 0;
}

.OrderNCreate .orderBy button {
  background-color: #C89AC2;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #452842;
}

.OrderNCreate .orderBy button:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.OrderNCreate .orderBy .btn-success:not(:disabled):not(.disabled).active,
.OrderNCreate .orderBy .btn-success:not(:disabled):not(.disabled):active,
.OrderNCreate .orderBy .show > .btn-success.dropdown-toggle {
  background-color: #a773a0;
  border-color: #a773a0;
}

.OrderNCreate .orderBy .btn-success:not(:disabled):not(.disabled).active:focus,
.OrderNCreate .orderBy .btn-success:not(:disabled):not(.disabled):active:focus,
.OrderNCreate .orderBy .show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.OrderNCreate .orderBy .btn-success.focus,
.OrderNCreate .orderBy .btn-success:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.OrderNCreate .createButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.OrderNCreate .createButton button {
  background-color: #C89AC2;
  border-radius: 20px;
  outline: none;
  color: #452842;
}

.OrderNCreate .createButton .btn-primary {
  border-color: #C89AC2;
}

.tableContainer {
  margin: 1em;
}

.CreateModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.CreateModal section {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0.2px solid #7272728f;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CreateModal .topBar {
  border-bottom: 1px solid #c5c5c5;
  padding: 10px;
}

.CreateModal .modalContent {
  margin: 30px;
}

.CreateModal .buttonbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CreateModal .closeButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CreateModal .error-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.CheckInModal .yesButton {
  background-color: #94618E;
  border-color: #94618E;
}
/*# sourceMappingURL=App.css.map */