$main-color: #94618E;
$sec-color: #C89AC2;
$row-hover-color: #b382ac;
$button-color: #C89AC2;
$button-hover-color: #a773a0;
$sc-beige: #f8eee7;
$darker-beige: #d6c0ac;
$text-color-1: #452842;
$text-color-2: rgba(68, 45, 65, 0.7);

* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}


.NoClients {
  color: #49274a;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.Nav {
  background-color: $main-color;

  .nav-margin {
    margin: 1em;
  }

  input {
    border-radius: 20px;
    outline: none !important;
    box-shadow: none !important;
  }
}

.OrderNCreate {
  margin: 10px 0px 0px 0px;
  height: 50px;

  .orderBy {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      font-size: 18px;
      margin-right: 20px;
      margin-bottom: 0;
    }

    button {
      background-color: $button-color;
      border-radius: 20px;
      outline: none;
      border: none;
      color: $text-color-1;
    }

    button:focus {
      outline: 0 !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    .btn-success:not(:disabled):not(.disabled).active,
    .btn-success:not(:disabled):not(.disabled):active,
    .show>.btn-success.dropdown-toggle {
      background-color: $button-hover-color;
      border-color: $button-hover-color;
    }

    .btn-success:not(:disabled):not(.disabled).active:focus,
    .btn-success:not(:disabled):not(.disabled):active:focus,
    .show>.btn-success.dropdown-toggle:focus {
      box-shadow: none;
    }

    .btn-success.focus,
    .btn-success:focus {
      box-shadow: none;
    }
  }

  .createButton {
    display: flex;

    button {
      background-color: $button-color;
      border-radius: 20px;
      outline: none;
      color: $text-color-1;
    }

    .btn-primary {
      border-color: $button-color;
    }
  }
}

// .TableOfClients {
//   width: 95%;
//   margin: 15px auto;
//   thead,
//   tbody {
//     background-color: $sc-beige;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   }
//   thead {
//     display: table;
//     width: 100%;
//     table-layout: fixed;
//     background-color: $main-beige;
//   }
//   tbody {
//     display: block;
//     height: 400px;
//     overflow-y: scroll;
//   }
//   tbody tr {
//     display: table;
//     width: 100%;
//     table-layout: fixed;
//   }
//   .items:not(.no-hover):hover {
//     background-color: $darker-beige;
//   }
//   .fa {
//     cursor: pointer;
//     padding: 4px;
//   }
// }

.tableContainer {
  margin: 1em;

  .table-responsive {
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .TableOfClients {
    thead {
      background-color: $sec-color;
      font-weight: 500;
    }

    .items:not(.no-hover):hover {
      background-color: $row-hover-color;
    }

    .fa {
      cursor: pointer;
      padding: 4px;
    }
  }
}

.toast {
  position: fixed;
  bottom: 0;
  left: 0;
}

.CreateModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);

  section {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 0.2px solid #7272728f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .topBar {
    border-bottom: 1px solid #c5c5c5;
    padding: 10px;
  }

  .modalContent {
    margin: 30px;
  }

  .buttonbottom {
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: flex-end;
  }

  .closeButton {
    display: flex;
    justify-content: flex-end;
  }

  .error-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
}

.CheckInModal {
  .yesButton {
    background-color: $main-color;
    border-color: $main-color;
  }
}